.menu1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #f5f5f5;
  /* margin: 20px; */
  /* padding: 5px */
  height: 150px;
  width: 150px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}

.menu1 img {
  height: 150px;
  width: 150px;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
}

.headerMenu a {
  text-decoration: none;
  color: currentColor;
}

.menu h2 {
  font-size: 0.8rem;
  margin-left: 5px;
}

.menu p {
  font-size: 0.7rem;
  margin-left: 5px;
}

main {
  background-color: #FFA500;
}

main a {
  cursor: pointer;
}

p {
  margin: 10px 25px;
}

h2 {
  margin-left: 25px;
}
