
.boxrest {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-top: 400px;
  height: 250px;
  min-width: 150px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
}

.image {
  width: 100%;
  height: 130px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px;
  border-radius: 5px;
}

.image img {
  max-height: 100px;
  max-width: 150px;
  border-radius: 15px;
}

.boxrest h2 {
  font-size: 1.2rem;
}

.boxrest p {
  font-size: 0.8rem;
}

.pesq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.pesq p {
  padding: 10px;
}

.pesq h2 {
  font-size: 2rem;
}

.main-rest {
  height: 72.3vh;
  padding-top: 25px;
  background: #FFA500;
}

.pagescroll {
  display: flex;
  align-items: center;
  height: 0px;
  width: 100%;
}

.letreiro {
  margin-top: 100px;
}


footer {
  background: #000;
  position: relative;
}

footer ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

footer ul li {
  list-style: none;
  justify-content: center;
  align-items: center;
}

footer ul li a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.redes h2 {
  padding: 10px;
  color: #fff;
}

.redes {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.icons {
  display: flex;
  margin-top: 10px;
  width: 200px;
  height: 20px;
  justify-content: space-between;
  font-size: 1rem;
}

/* Media Queries para responsividade */
@media screen and (max-width: 768px) {


  /* Adicione mais ajustes para telas pequenas se necessário */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {


  /* Adicione mais ajustes para telas médias se necessário */
}

@media screen and (min-width: 1025px) {

  /* Adicione mais ajustes para telas grandes se necessário */
}
