.dados input,
select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  padding: 10px;
}

.half-box input,
label {
  display: block;
  width: 100%;
}

.half-box input:focus,
label:focus {
  outline: none;
}

.dados select {
  border: none;
  width: 100%;
  border-bottom: 2px solid #323232;
}
.dados {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
}

.dados h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.6rem;
}

.dados form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.full-box {
  flex: 1 1 100%;
  position: relative;
}

.full-box input {
  width: 100%;
}

.half-box {
  flex: 1 1 45%;
  position: relative;
}

.spacing {
  margin-right: 2.5%;
}

.dados label {
  font-weight: bold;
  font-size: 0.8rem;
}

.dados input {
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 0.9rem;
  margin-bottom: 40px;
}

.dados input:focus {
  border-color: var(--sub-color);
}

#age {
  width: 120px;
}

/* Chrome e outros */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dados input[type="submit"] {
  background-color: #be4d25;
  color: #fff;
  border: none;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
}

.dados p {
  justify-content: center;
  color: red;
}

.scrolladrres {
  width: 800px;
  margin: 3%;
  overflow: hidden;
  overflow-y: scroll;
  height: 200px;
}

.linkaddress {
  
}